$bottom-color-light-silver: rgb(237, 238, 240);
$staff-point: rgba(0, 0, 0, 0.5);
$company-point: rgba(0, 0, 0, 0.5);

.company-list-container {
  .staff-button {
    flex: 0 1 40%;
  }

  div.company-info {
    padding: em(10px) em(25px);
    transition: 0.3s linear;
    overflow: hidden;
    font-family: $LatoFont;
    display: inline-flex;
    flex-grow: 1;
    flex-shrink: 2;

    .company-detail-container {
      width: 100%;
      border-bottom: 1px solid $bottom-color-light-silver;
    }

    .company-detail-container__text {
      font-weight: 500;
      color: $company-point;
      font-size: 16px;
      margin: 10px 0;

      &:first-child {
        font-size: 20px;
        color: #000;
      }
    }

    .company-detail-container__point {
      font-weight: 600;
      color: $black75;
    }

    .staff-container {
      display: inline-flex;
      transition: 1s linear;

      &.show-staff {
        max-height: 100%;
        flex-grow: 1;
      }

      &.hide-staff {
        max-height: 0;
        flex-flow: 0;
      }
    }

    .staff-info {
      padding-left: 20px;
      height: 120px;
    }

    .staff-info__point-text {
      margin: 5px 0;

      &:not(:first-child) {
        color: $staff-point;
      }

      &:first-child {
        font-weight: 600;        
      }
    }

    .staff-info__point-main-text {
      font-weight: 600;
      color: $black75;
    }
  }
}

div.create-container {
  margin-top: em(80px);
  width: 50%;
  min-width: 300px;
  background-color: #fff;
  box-shadow: $standard-shadow;
  padding: 20px;

  .create-btn {
    margin-top: em(15px);
    margin-left: em(15px);
    font-weight: 600;
    width: em(150px);
  }
}