$bottom-color-light-silver: rgb(237, 238, 240);
$staff-point: rgba(0, 0, 0, 0.5);
$company-point: rgba(0, 0, 0, 0.5);

.company-list-container {
  .staff-button {
    flex: 0 1 40%;
  }

  .company-info {
    padding: em(10px) em(15px);
    margin: 0 em(15px);
    transition: 0.3s linear;
    overflow: hidden;
    max-height: 220px;
    font-family: $LatoFont;

    .company-detail-container {
      border-bottom: 1px solid $bottom-color-light-silver;
    }

    .company-detail-container__text {
      font-weight: 500;
      color: $company-point;
      font-size: 16px;
      margin: 10px 0;

      &:first-child {
        font-size: 20px;
        color: #000;
      }
    }

    .company-detail-container__point {
      font-weight: 600;
      color: $black75;
    }

    .pos-relative {
      position: relative;
      top: 0;
    }

    &.full-height {
      max-height: 100%;

      .staff-container {
        height: 110px;
        max-height: 100%;
        overflow: initial;
        transition: 0.3s linear;    
      }
    }

    &.minimal-height {
      max-height: 220px;

      .staff-container {
        max-height: 1px;
        height: 0;
        overflow: hidden;
        transition: 0.2s linear;      
      }
    }

    .staff-info {
      padding-left: 20px;
    }

    .staff-info__point-text {
      margin: 5px 0;

      &:not(:first-child) {
        color: $staff-point;
      }

      &:first-child {
        font-weight: 600;        
      }
    }

    .staff-info__point-main-text {
      font-weight: 600;
      color: $black75;
    }
  }
}

div.create-container {
  margin-top: em(80px);
  width: 50%;
  min-width: 300px;
  background-color: #fff;
  box-shadow: $standard-shadow;
  padding: 20px;

  .create-btn {
    margin-top: em(15px);
    margin-left: em(15px);
    font-weight: 600;
    width: em(150px);
  }
}