.sign-in-btn,
.sign-up-btn {
  margin-top: em(10px);
  margin-left: em(10px);
}

.sign-in-container {
  padding-left: 30px;
  padding-top: 20px;
}

.sign-in-form,
.sign-up-form {
  background-color: #fff;
  padding: 20px;
  box-shadow: 3px 3px 11px -6px;
}

.sign-up-form {
  min-width: 300px;
}
